{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block style %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'static/header.css' %}">
    <link rel="stylesheet" href="{% static 'static/aside.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static/index_main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

</head>
<body>
    
    <header>
       <div>
        <a href="{% url 'home' %}">
            <div class="logo">
                <h1>OhMyBoat!</h1>
            </div>
        </a>
        <nav>
            <ul>
                {% block listnav %}
                {% endblock %}
            </ul>
        </nav>
       </div>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>
