{% extends 'layouts/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/register_offer.css' %}">
{% endblock %}

{% block title %}
    <title>Publicar oferta</title>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#cerrar-sesion").click(function(event){
            event.preventDefault();
            $("#mensaje-cerrar-sesion").toggle();
        });
    });
</script>
{% endblock %}

{% block listnav %}
    {% if request.user.is_authenticated %}
        <li><a class="normal" href="{% url 'ver perfil' id=request.user.id %}"><i class="fa-solid fa-user"></i></a></li>
    {% endif %}
    {% if request.user.is_authenticated %}
        <li class="modal"><a id="cerrar-sesion" class="normal"  href=""><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            <div id="mensaje-cerrar-sesion" class="mensaje" style="display: none;">
                <p>Estas seguro de cerrar la sesion?</p>
                <a href="{% url 'cerrar sesion' %}" class="buton2">Confirmar</a>
            </div>
        </li>
    {% else %}
        <li><a href="{% url 'crear cuenta' %}" class="buton">Crear cuenta</a></li>
        <li><a href="{% url 'iniciar sesion' %}" class="buton">Iniciar Sesion</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if mensaje %}
        <div class="window-mensaje">  
            <div class="mensaje-content">
                <p class="mensaje-content-text">{{ mensaje }}</p> 
                <div class="mensaje-content-button"><a href="{% url 'ver detalle publicacion' id_publicacion=id_publi %}">Aceptar</a></div>
            </div>
        </div>
    {% endif %}

    <section class="form-main">
        <div class="form-content">
            <div class="box">
                <h2>Publicar oferta</h2>
                <form action="{% url 'publicar oferta' id_publi=id_publi %}" method="post" novalidate>
                    {% csrf_token %}
    
                    <div>
                        <select name="articulo_cambio" class="input-control" required>
                            <option value="">Selecciona un vehiculo o una embarcación</option>
                            {% for unaEmbarcacion in embarcaciones %}
                              <option value="{{ unaEmbarcacion }}">{{ unaEmbarcacion }}</option>
                            {% endfor %}
                            {% for vehiculo in vehiculos %}
                              <option value="{{ vehiculo }}">{{ vehiculo }}</option>
                            {% endfor %}
                        </select>
                        {% if form.articulo_cambio.errors %}
                            <div class="error">{{ form.articulo_cambio.errors }}</div>
                        {% endif %}
                    </div>
    
                    <div>
                        <input id="monto" type="number" name="monto" placeholder="Monto" class="input-control" value="{{ form.monto.value|default_if_none:'0' }}">
                    </div>
                    {% if form.monto.errors %}
                            <div class="error">{{ form.monto.errors }}</div>
                    {% endif %}

                    {% if form.non_field_errors %}
                        <div class="error">{{ form.non_field_errors }}</div>
                    {% endif %} 
                    <button type="submit" class="btn">Publicar </button>
    
                </form>
            </div>
        </div>
        {% if ok == True %}
            <div class="window-notice" id="window-notice">  
                <div class="content">
                    <p class="content-text"> Se cargo la oferta con exito</p> 
                    <div class="content-button"><a href="{% url 'ver detalle publicacion' id_publicacion=id_publi %}">Aceptar</a></div>
                </div>
            </div>
        {% endif %} 
    </section>
{% endblock %}
