{% extends 'layouts/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/trueque_detail.css' %}">
{% endblock %}

{% block title %}
    <title>Detalle de un trueque</title>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#cerrar-sesion").click(function(event){
            event.preventDefault();
            $("#mensaje-cerrar-sesion").toggle();
        });
    });
</script>
{% endblock %}

{% block listnav %}
        <li><a class="normal" href="{% url 'ver perfil' id=request.user.id %}"><i class="fa-solid fa-user"></i></a></li>
        <li class="modal"><a id="cerrar-sesion" class="normal"  href=""><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            <div id="mensaje-cerrar-sesion" class="mensaje" style="display: none;">
                <p>Estas seguro de cerrar la sesion?</p>
                <a href="{% url 'cerrar sesion' %}" class="buton2">Confirmar</a>
            </div>
        </li>
{% endblock %}
{% block content %}
<section>       
    <div>
        <h1> Estado del trueque: {{ trueque.estado }}</h1>
        <div class="box" style="display: flexbox; position:relative">
            <div class="info-container">
                <div>
                    <h3> Embarcacion Publicada </h3>
                </div>
                <div>
                    <p>Publicante: 
                        {% if trueque.usuario1.mail|slice:"0:1" == "*" %}
                            {{ trueque.usuario1.mail|slice:"1:-14" }}
                        {% else %}
                            <a href="{% url 'ver perfil' trueque.usuario1_id %}">{{ trueque.usuario1.mail }}</a>
                        {% endif %}
                    </p>
                </div>
                <div>
                    <p>Tipo: {{ trueque.embarcacion1.tipo.clase }}</p>
                </div>
                <div>
                    <p>Modelo: {{trueque.embarcacion1.modelo}}</p>
                </div>
                <div>
                    <p>Deuda: {{ trueque.embarcacion1.deuda }}</p>
                </div>
                <div>
                    <p>Matrícula: 
                        {% if trueque.embarcacion1.matricula|slice:"0:1" == "*" %}
                            {{ trueque.embarcacion1.matricula|slice:"1:-14" }}
                        {% elif trueque.estado == "Pendiente" %}
                            <a href="{% url 'ver detalle embarcacion' trueque.embarcacion1_id 0 %}">{{ trueque.embarcacion1.matricula }}</a>
                        {% else %}
                            {{ trueque.embarcacion1.matricula }}
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="info-container">
                <div>
                    <h3> Oferta </h3>
                </div>
                <div>
                    <p>Ofertante: 
                        {% if trueque.usuario2.mail|slice:"0:1" == "*" %}
                            {{ trueque.usuario2.mail|slice:"1:-14" }}
                        {% else %}
                            <a href="{% url 'ver perfil' trueque.usuario2_id %}">{{ trueque.usuario2.mail }}</a>
                        {% endif %}
                    </p>
                </div>
                {% if trueque.vehiculo_id %}
                    <div>
                        <p>Tipo: {{ trueque.vehiculo.tipo.clase }}</p>
                    </div>
                    <div>
                        <p>Modelo: {{trueque.vehiculo.modelo}}</p>
                    </div>
                    <div>
                        <p>Año fabricacion: {{trueque.vehiculo.año_fabricacion}}</p>
                    </div>
                    <div>
                        <p>Monto: {{ trueque.monto }}</p>
                    </div>
                    <div>
                        <p>Patente: 
                            {% if trueque.vehiculo.patente|slice:"0:1" == "*" %}
                                {{ trueque.vehiculo.patente|slice:"1:-14" }}
                            {% elif trueque.estado == "Pendiente" %}
                                <a href="{% url 'ver detalle vehiculo' trueque.vehiculo_id 0 %}">{{ trueque.vehiculo.patente }}</a>
                            {% else %}
                                {{ trueque.vehiculo.patente }}
                            {% endif %}
                        </p>
                    </div>
                {% elif  trueque.embarcacion_id %}
                <div>
                    <p>Tipo: {{ trueque.embarcacion.tipo.clase }}</p>
                </div>
                <div>
                    <p>Modelo: {{trueque.embarcacion1.modelo}}</p>
                </div>
                <div>
                    <p>Deuda: {{ trueque.embarcacion1.deuda }}</p>
                </div>
                <div>
                    <p>Matrícula: 
                        {% if trueque.embarcacion2.matricula|slice:"0:1" == "*" %}
                            {{ trueque.embarcacion2.matricula|slice:"1:-14" }}
                        {% elif trueque.estado == "Pendiente" %}
                            <a href="{% url 'ver detalle embarcacion' trueque.embarcacion2_id 0 %}">{{ trueque.embarcacion2.matricula }}</a>
                        {% else %}
                            {{ trueque.embarcacion2.matricula }}
                        {% endif %}
                    </p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
    {% if not request.user.is_superuser and request.user.is_staff and trueque.estado == "Pendiente" %}
        {% if mensaje %}
            <p>{{mensaje}}</p>
        {% endif %}
        <a class='btn-acept' href="{% url 'completar trueque' trueque.id %}">Validar</a>
        <a class='btn-rechazar' href="{% url 'cancelar trueque' trueque.id %}">Anular</a>
    {% endif %}
    {% if falta_calificar == True %}
    {% if not request.user.is_staff and trueque.estado == "Completado" %}
        <div class="box" style="display: flexbox; position:relative">
            {%if request.user.id == trueque.usuario2.id %}
            <form action="{% url 'calificar usuario' trueque.id trueque.usuario2.id trueque.usuario1.id %}" method="post" novalidate>
            {%else%}
            <form action="{% url 'calificar usuario' trueque.id trueque.usuario1.id trueque.usuario2.id %}" method="post" novalidate>
            {%endif%}
                {% csrf_token %}
                <div class="rating">
                    <input type="radio" id="rating5" name="rating" value="5">
                    <label for="rating5"></label>
                    <input type="radio" id="rating4" name="rating" value="4">
                    <label for="rating4"></label>
                    <input type="radio" id="rating3" name="rating" value="3">
                    <label for="rating3"></label>
                    <input type="radio" id="rating2" name="rating" value="2">
                    <label for="rating2"></label>
                    <input type="radio" id="rating1" name="rating" value="1" checked>
                    <label for="rating1"></label>
                </div>
                <input type="submit" value="Calificar" class="confirmar">
            </form>
        </div>
    {% endif %}
    {% endif %}
{% endblock %}

    