:root{
    --sand: #c8baa0;
    --gray-sand: #c4c4be;
    --aqua-light: #a9cecf;
    --aquamarine: #26a5b9;
    --cyan: #6785b4;  
}

.box .window-eliminar {
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
    color: white;
}

.box .window-eliminar .eliminar-content {
    background: linear-gradient(to right, #a3a397, #6785b4);;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
}

.box .window-eliminar .eliminar-content .eliminar-content-text {
    font-size: 24px;
    margin-bottom: 12px;
    text-align: center;
}

.box .window-eliminar .eliminar-content .eliminar-content-button a{
    color: var(--text-white);
    text-decoration: none;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    background: linear-gradient(to right, #a3a397, #6785b4);
    padding: 10px;
    border-radius: 20px;
}

.box {
    display: inline-block;
    overflow-x: auto;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 1px solid black;
}

.imagenesDiv {
    width: 100%;
    padding: 10px 20px;
    align-items: center;
}

.imagenesDiv .image-container {
    display: inline-flex;
    margin-right: 0px;
    object-fit: contain;
}

.imagenesDiv .image-container:last-child {
    margin-right: 0; 
}

.imagenesDiv .image-container .p1{
    display: inline-block;
    width: max-content; 
    align-items: left;
}

.imagenesDiv .image-container .p1 img{
    margin-left: 50px;
}

.box .info-container {
    position: relative;
    display: inline-block;
    width: 100%;
    background: var(--sand);
    border: 1px solid var(--sand);
    padding-bottom: 10px;
}

.info-container p{
    margin-right: 50px;
    align-items: center;
}

/* Estilo para boton "Eliminar embarcacion" */
.btn {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    flex-shrink: 0; /* Evita que los botones se reduzcan */
    background-color: rgb(167, 3, 3);
}
  
 /* Estilo para boton "Eliminar embarcacion" */
.btn:hover {
    background-color: rgb(112, 0, 0);
    border-color: rgb(112, 0, 0);
    cursor: pointer;
}

.p1 {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 70%;
}

.p1 img {
    width: 50%;
    max-height: 575px;
    height: absolute;
}

br{
    margin: 0px;
}

@media(max-width: 575px){
    section::after,
    section::before{
        height: 250px;
        width: 250px;
    }
}