@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.perfil-usuario-bio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 150px;
    left: 27%;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    
}

.perfil-usuario-bio h3{
    font-family: Poppins, sans-serif;
    font-size: 24px;
}

.lista-datos{
    background-color: #fff; /* Fondo blanco para el recuadro de información */
    width: 900px;
    padding: 20px;
    left: 27%;
    position: relative;
    border-radius: 8px;
    border: 1px solid #26a5b9; /* Borde opcional */
    
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.containerIndices{
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    flex-wrap: wrap;  
}

.container a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.container .caja {
    width: calc(100% - 40px); /* Restamos 40px al ancho total para dejar un margen de 20px a cada lado */
    margin: 20px; /* Añadido un margen de 20px */
    padding: 20px;
    text-align: left;
}

/* Estilo para la tabla */
table {
    width: 100%;
    background: #807666;
    color: whitesmoke;
    padding: 10px;
    border-radius: 8px;
}

/* Estilo para el texto de los titulos de la tabla */
table thead th {
    font-size: 24px;
}

/* Estilo para el texto del cuerpo de la tabla */
table tbody td {
    font-size: 20px;
}

/* Estilo para textos de la tabla */
table th, table td {
    padding: 8px;
    text-align: center;
    width: auto;
}

th:nth-child(5) {
    width: 150px;
}

/* Estilo para boton "Eliminar" */
.btn-delete {
    background-color: rgb(167, 3, 3);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    align-self: flex-start;
}

/* Estilo para boton "Eliminar" al pasar sobre él */
.btn-delete:hover {
    background-color: rgb(112, 0, 0);
    border-color: rgb(112, 0, 0);
    cursor: pointer;
}

/* Estilo para links de la tabla */
.caja a:link, .caja a:visited {
    color: #5cb9c7;
    font-weight: bold;
}

/* Estilo para links de la tabla al pasar sobre ellos  */
.caja a:hover, .caja a:active {
    color: #12aac2;
}

.window {
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
    color: white;
}
  
.window .window-content {
    background: linear-gradient(to right, #a3a397, #6785b4);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
}
  
 .window .window-content p {
    display: block;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: inherit;
    font-family: inherit;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}
  
.window .window-content .window-buttons {
    display: flex;
    gap: 10px; /* Añade espacio entre los botones si es necesario */
    justify-content: center; /* Centra los botones horizontalmente */
    margin-top: 20px; /* Añade un poco de margen superior si es necesario */
}
  
.window .window-content .window-buttons button {
    all: unset;
    color: var(--text-white);
    text-decoration: none;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    background: linear-gradient(to right, #a3a397, #6785b4);
    padding: 10px;
    border-radius: 20px;
}
  
.window .window-content .window-buttons button:hover {
    background: linear-gradient(to right, #85857b, #4e6589);
    cursor: pointer;
}

.button {
    width: 200px;
    height: 4vh;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
    letter-spacing: 0.03em;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    color: #26a5b9;
    transition: all 0.10s;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(255,255,255,0);
    -moz-box-shadow: 0px 0px 4px 1px rgba(255,255,255,0);
    box-shadow: 0px 0px 4px 1px rgba(255,255,255,0);
}

.button:hover {
    box-shadow: 0px 0px 4px 1px rgba(93, 93, 93, 0.5);
}