.container {
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.container a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
}

.container .caja {
    width: calc(100% - 40px); /* Restamos 40px al ancho total para dejar un margen de 20px a cada lado */
    border: 1px solid #000;
    margin: 20px; /* Añadido un margen de 20px */
    padding: 20px;
    text-align: left;
}