@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.perfil-usuario-bio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 150px;
    left: 27%;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    
}

.perfil-usuario-bio h3{
    font-family: Poppins, sans-serif;
    font-size: 24px;
}

.lista-datos{
    background-color: #fff; /* Fondo blanco para el recuadro de información */
    width: 900px;
    padding: 20px;
    left: 27%;
    position: relative;
    border-radius: 8px;
    border: 1px solid #26a5b9; /* Borde opcional */
    
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 30px;
  }

.containerIndices{
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    flex-wrap: wrap;  
}

.container a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.container .caja {
    width: calc(100% - 40px); /* Restamos 40px al ancho total para dejar un margen de 20px a cada lado */
    margin: 20px; /* Añadido un margen de 20px */
    padding: 20px;
    text-align: left;
}

/* Estilo para la tabla */
table {
    width: 100%;
    padding: 10px;
    margin-bottom: 2px;
    background-color: #fff;
    table-layout: fixed;
    border-radius: 8px;
}

/* Estilo para el texto de los titulos de la tabla */
table thead th {
    font-size: 24px;
}

/* Estilo para el texto del cuerpo de la tabla */
table tbody td {
    font-size: 20px;
}

/* Estilo para textos de la tabla */
table th, table td {
    padding: 8px;
    text-align: center;
    width: auto;
}

/* Estilo para links de la tabla */
.caja a:link, .caja a:visited {
    color: #5cb9c7;
    font-weight: bold;
}

/* Estilo para links de la tabla al pasar sobre ellos  */
.caja a:hover, .caja a:active {
    color: #12aac2;
}