{% extends 'layouts/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style_forms.css' %}">
{% endblock %}

{% block title %}
    <title>Cambiar contraseña</title>
{% endblock %}


{% block listnav %}
{% endblock %}

{% block content %}

<section class="form-main">
    <div class="form-content">
        <div class="box">
            <h3>Validar token</h3>
            <form action="{% url 'ingresar nueva contraseña' %}" method="post" novalidate>
                {% csrf_token %}
                <div>
                    <input type="text" name="token" placeholder="Codigo de validacion" class="input-control" value="{{ form.token.value|default_if_none:'' }}">
                    {% if form.token.errors %}
                        <div class="error">{{ form.token.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <input type="password" name="contraseña" placeholder="Ingrese su nueva contraseña" class="input-control" value="{{ form.contraseña.value|default_if_none:'' }}">
                    {% if form.contraseña.errors %}
                        <div class="error">{{ form.contraseña.errors }}</div>
                    {% endif %}
                </div>
                {% if form.non_field_errors %}
                    <div class="error">{{ form.non_field_errors }}</div>
                    {% elif ok == True %}
                        <div class="window-notice" id="window-notice">  
                            <div class="content">
                                <p class="content-text"> Se ha cambiado exitosamente su contraseña</p> 
                                <div class="content-button"><a href="{% url 'iniciar sesion' %}">Aceptar</a></div>
                            </div>
                        </div>
                {% endif %}
                <button type="submit" class="btn">Enviar codigo</button>

{% endblock %}