{% extends 'layouts/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style_forms.css' %}">
{% endblock %}

{% block title %}
    <title>Cambiar contraseña</title>
{% endblock %}


{% block listnav %}
{% endblock %}

{% block content %}

<section class="form-main">
    <div class="form-content">
        <div class="box">
            <h3>Validar token</h3>
            <form action="{% url 'cambiar contraseña' %}" method="post" novalidate>
                {% csrf_token %}
                <div>
                    <input type="text" name="token" placeholder="Codigo de validacion" class="input-control">
                    {% if form.mail.errors %}
                        <div class="error">{{ form.mail.errors }}</div>
                    {% endif %}
                </div>

{% endblock %}