{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style_header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style_forget_password.css' %}">
    <title>Recuperar contraseña</title>
</head>
<body>
    <header>

        <div class="content">

            <div class="menu container">
                <img src="{% static 'images/Oh_My_Boat_logo_2.jpg' %}" width="95" height="95" >
                <a href="{% url 'iniciar sesion' %}" class="logo">Volver a Iniciar Sesion</a> 
            </div>
        </div>
    </header>
    <section class="change-password">
        <div class="form-content">
            <div class="box">
                <h3>Recuperar contraseña</h3>
                <form action="{% url 'recuperar contraseña' %}" method="post" novalidate>
                    {% csrf_token %}
                    <div class="input-box">
                        <input type="text" name= "mail" placeholder="Mail" class="input-control" value="{{ form.mail.value|default_if_none:'' }}"  >
                        {% if form.mail.errors %}
                            <div class="error"><p>{{ form.mail.errors }}</p></div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn">Enviar codigo</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>

{% endblock %}