{% extends 'layouts/base.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
</head>
<body>
    <a href="#"> Volver a iniciar sesion</a>
    <section>
        <div>
            <div>
                <h3>Recuperar contraseña</h3>
                <form action="{% url 'recuperar contraseña' %}" method="post" novalidate>
                    {% csrf_token %}
                    <div>
                        <input type="text" name= "mail" placeholder="Mail" value="{{ form.mail.value|default_if_none:'' }}">
                        {% if form.mail.errors %}
                            <div class="error">{{ form.mail.errors }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn">Enviar codigo</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>

{% endblock %}