{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style_header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style_forms.css' %}">
</head>
<body>
    <header>

        <div class="content">

            <div class="menu container">
                <img src="{% static 'images/Oh_My_Boat_logo_2.jpg' %}" width="95" height="95" >
                <a href="{% url 'home' %}" class="logo">Volver al menu principal</a> 
            </div>
        </div>
    </header>
    <section class="form-main">
        <div class="form-content">
            <div class="box">
                <h3>Iniciar Sesión</h3>
                <form action="{% url 'iniciar sesion' %}" method="post" novalidate>
                    {% csrf_token %}
                    <!-- {% if form.non_field_errors %}
                        <div class="error">{{ form.non_field_errors }}</div>
                    {% endif %} -->
                    <div>
                        <input type="text" name="mail" placeholder="Mail" class="input-control" value="{{ form.mail.value|default_if_none:'' }}">
                        {% if form.mail.errors %}
                            <div class="error">{{ form.mail.errors }}</div>
                        {% endif %}
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="Contraseña" class="input-control">
                        {% if form.contraseña.errors %}
                            <div class="error">{{ form.contraseña.errors }}</div>
                        {% endif %}
                        <div>
                            <p><a href="{% url 'recuperar contraseña'%}" class="gradient-text">¿Olvidaste tu contraseña?</a></p>
                        </div>
                    </div>
                    <button type="submit" class="btn">Acceder</button>
                </form>
                <p>No tenes una cuenta?<a href="{% url 'crear cuenta' %}" class="gradient-text"> Crear cuenta nueva</a></p>
            </div>
        </div>
    </section>
</body>
</html>

{% endblock %}