{% extends 'layouts/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style_forms.css' %}">
{% endblock %}

{% block title %}
    <title>Iniciar sesion</title>
{% endblock %}

{% block scripts %}
<script> window.onpageshow = function(event) {
    if (event.persisted) {
        window.location.reload();
    }
};
</script>
{% endblock %}



{% block listnav %}
{% endblock %}

{% block content %}
    <section class="form-main">
        <div class="form-content">
            <div class="box">
                <h3>Iniciar Sesión</h3>
                <form action="{% url 'iniciar sesion' %}" method="post" novalidate>
                    {% csrf_token %}
                    <div>
                        <input type="text" name="mail" placeholder="Mail" class="input-control" value="{{ form.mail.value|default_if_none:'' }}">
                        {% if form.mail.errors %}
                            <div class="error">{{ form.mail.errors }}</div>
                        {% endif %}
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="Contraseña" class="input-control" value="{{ form.password.value|default_if_none:'' }}">
                        {% if form.password.errors %}
                            <div class="error">{{ form.password.errors }}</div>
                        {% endif %}
                        <div>
                            <p><a href="{% url 'recuperar contraseña' %}" class="gradient-text">¿Olvidaste tu contraseña?</a></p>
                        </div>
                    </div>
                    <div>
                        {% if ok == True %}
                        <div class="window-notice" id="window-notice">  
                            <div class="content">
                                <p class="content-text"> Ya tienes la sesion iniciada</p> 
                                <div class="content-button"><a href="{% url 'home' %}">Aceptar</a></div>
                            </div>
                        </div>
                        {% endif %} 
                    </div>
                    <button type="submit" class="btn">Acceder</button>
                </form>
                <p>No tenes una cuenta? <a href="{% url 'crear cuenta' %}" class="gradient-text"> Crear cuenta nueva</a></p>
            </div>
        </div>
    </section>
{% endblock %}