{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style_login.css' %}">
</head>
<body>
    <header>

        <div class="content">

            <div class="menu container">
                <img src="{% static 'images/Oh_My_Boat_logo_2.jpg' %}" width="95" height="95" >
                <a href="{% url 'home' %}" class="logo">Volver al menu principal</a> 
            </div>
        </div>
    </header>
    <section class="login">
        <div>
            <div>
                <h3>Iniciar Sesión</h3>
                <form action="">
                    {% csrf_token %}   
                    <div>
                        <input type="text" name="mail" placeholder="Mail" class="input-control">
                    </div>
                    <div>
                        <input type="password" name="contraseña" placeholder="Contraseña" class="input-control">
                        <div>
                            <p><a href="{% url 'recuperar contraseña'%}" class="#">¿Olvidaste tu contraseña?</a></p>
                        </div>
                    </div>
                    <button type="submit" class="btn">Acceder</button>
                </form>
                <a href="{% url 'crear cuenta' %}" class="register"> Crear cuenta nueva</a>
            </div>
        </div>
    </section>
</body>
</html>

{% endblock %}