{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    {% block styles %}
    {% endblock %}

    {% block title %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

</head>
<body>
    <div class="wrapper"> 
        <nav class="navbar">
            <ul>
                <li>
                    <a href="{% url 'home' %}"> 
                        <h3>Home</h3> 
                    </a>
                </li>
                <li>
                    <a href="{% url 'lista empleados' %}"> 
                        <h3>Empleados</h3> 
                    </a>
                </li>
                <li>
                    <a href="{% url 'lista usuarios' %}">
                        <h3>Usuarios</h3>
                    </a>
                </li>
                <li>
                    <a href="{% url 'lista embarcaciones' %}">
                        <h3>Embarcaciones</h3>
                    </a>
                </li>
                <li>
                    <a href="{% url 'lista vehiculos' %}">
                        <h3>Vehículos</h3>
                    </a>
                </li>
                <li>
                    <a href="{% url 'lista publicaciones' %}">
                        <h3>Publicaciones</h3>
                    </a>
                </li>
                <li>
                    <a href="{% url 'lista ofertas' %}">
                        <h3>Ofertas</h3>
                    </a>
                </li>
                <li>
                    <a>
                        <h3>Estadísticas</h3>
                    </a>
                </li> 
            </ul>
        </nav>
    </div>
    
    
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>