{% extends 'layouts/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/register_boat_body.css' %}">
{% endblock %}

{% block title %}
    <title>Cargar vehiculo</title>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#checkbox-deudas").change(function(event){
            $("#deudas").toggle();
        });
    });
</script>
<script>
    $(document).ready(function(){
        $("#cerrar-sesion").click(function(event){
            event.preventDefault();
            $("#mensaje-cerrar-sesion").toggle();
        });
    });
</script>
<script>
    $(document).ready(function(){
        $("#imagen1").one('change', function(event){
            $("#imagen2").toggle();
        });
    });
</script>
<script>
    $(document).ready(function(){
        $("#imagen2").one('change', function(event){
            $("#imagen3").toggle();
        });
    });
</script>
<script>
    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
                // Usa el id del campo de entrada para determinar qué elemento img actualizar
                var idImagen = 'vistaPrevia' + input.id.charAt(input.id.length - 1);
                document.getElementById(idImagen).src = e.target.result;
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}

{% block listnav %}
    {% if request.user.is_authenticated %}
        <li><a class="normal" href="{% url 'ver perfil' id=request.user.id %}"><i class="fa-solid fa-user"></i></a></li>
    {% endif %}
    {% if request.user.is_authenticated %}
        <li class="modal"><a id="cerrar-sesion" class="normal"  href=""><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            <div id="mensaje-cerrar-sesion" class="mensaje" style="display: none;">
                <p>Estas seguro de cerrar la sesion?</p>
                <a href="{% url 'cerrar sesion' %}" class="buton2">Confirmar</a>
            </div>
        </li>
    {% else %}
        <li><a href="{% url 'crear cuenta' %}" class="buton">Crear cuenta</a></li>
        <li><a href="{% url 'iniciar sesion' %}" class="buton">Iniciar Sesion</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<section class="form-main">
    <div class="form-content">
        <div class="box">
            <h2>Cargar vehiculo</h2>
            <form action="{% url 'cargar vehiculo' %}" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div>
                    <input type="text" name="patente" placeholder="Patente" maxlength="50" class="input-control" value="{{ form.patente.value|default_if_none:'' }}" onkeypress="return (event.charCode >= 48 && event.charCode <= 57 || event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 45)">
                    {% if form.patente.errors %}
                        <div class="error">{{ form.patente.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <input type="text" name="marca" placeholder="Marca" maxlength="50" class="input-control" value="{{ form.marca.value|default_if_none:'' }}" onkeypress="return (event.charCode >= 32 && event.charCode <= 59 || event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122)">
                    {% if form.marca.errors %}
                        <div class="error">{{ form.marca.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <input type="text" name="modelo" placeholder="Modelo" maxlength="50" class="input-control" value="{{ form.modelo.value|default_if_none:'' }}" onkeypress="return (event.charCode >= 32 && event.charCode <= 59 || event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122)">
                    {% if form.modelo.errors %}
                        <div class="error">{{ form.modelo.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <select name="tipo" required class="input-control">
                        <option value="">Selecciona un tipo</option>
                        {% for opcion in tipos %}
                          <option value="{{ opcion }}">{{ opcion }}</option>
                        {% endfor %}
                    </select>
                    {% if form.tipo.errors %}
                        <div class="error">{{ form.tipo.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <input type="text" name="año_fabricacion" placeholder="Año de fabricacion" class="input-control" value="{{ form.año_fabricacion.value|default_if_none:'' }}" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                    {% if form.año_fabricacion.errors %}
                        <div class="error">{{ form.año_fabricacion.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <input type="text" name="kilometraje" placeholder="Kilometraje" class="input-control" value="{{ form.kilometraje.value|default_if_none:'' }}" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                    {% if form.kilometraje.errors %}
                        <div class="error">{{ form.kilometraje.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <input id="imagen1" type="file" name="imagen1" accept="image/*" onchange="mostrarImagen(this)">
                </div>
                {% if form.imagen1.errors %}
                        <div class="error">{{ form.imagen1.errors }}</div>
                {% endif %}
                <div>
                    <input id="imagen2" type="file" name="imagen2" onchange="mostrarImagen(this)" style="display: none;">
                </div>
                {% if form.imagen2.errors %}
                        <div class="error">{{ form.imagen2.errors }}</div>
                {% endif %}
                <div>
                    <input id="imagen3" type="file" name="imagen3" onchange="mostrarImagen(this)" style="display: none;">
                </div>
                {% if form.imagen3.errors %}
                    <div class="error">{{ form.imagen3.errors }}</div>
                {% endif %}
                {% if form.non_field_errors %}
                    <div class="error">{{ form.non_field_errors }}</div>
                {% endif %} 
                <button type="submit" class="btn">Cargar</button>

            </form>
        </div>
    </div>
    <div>
    {% if ok == True %}
        <div class="window-cargo" id="window-notice">  
            <div class="cargo-content">
                <p class="cargo-content-text" style="margin-bottom: 20px;">Se cargo el vehiculo con exito</p> 
                <div class="cargo-content-button"><a href="{% url 'ver perfil' request.user.id %}">Aceptar</a></div>
            </div>
        </div>
    {% endif %} 
    </div>
    <div class='imagenesDiv'>
        <div class='p1'><img id="vistaPrevia1"/></div>
        <div class='p2'>
          <img id="vistaPrevia2"/>
          <img id="vistaPrevia3"/>
        </div>
    </div>
</section>
{% endblock %}
