{% extends 'layouts/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/vehicle_detail_body.css' %}">
{% endblock %}

{% block title %}
    <title>Detalle de vehículo</title>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#cerrar-sesion").click(function(event){
            event.preventDefault();
            $("#mensaje-cerrar-sesion").toggle();
        });
    });
</script>
<script>
    $(document).ready(function(){
        $("#eliminar-vehiculo").click(function(event){
            event.preventDefault();
            $("#mensaje-eliminar-vehiculo").toggle();
        });
    });
</script>
{% endblock %}

{% block listnav %}
    {% if request.user.is_authenticated %}
        <li><a class="normal" href="{% url 'ver perfil' id=request.user.id %}"><i class="fa-solid fa-user"></i></a></li>
    {% endif %}
    {% if request.user.is_authenticated %}
        <li class="modal"><a id="cerrar-sesion" class="normal"  href=""><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            <div id="mensaje-cerrar-sesion" class="mensaje" style="display: none;">
                <p>Estas seguro de cerrar la sesion?</p>
                <a href="{% url 'cerrar sesion' %}" class="buton2">Confirmar</a>
            </div>
        </li>
    {% else %}
        <li><a href="{% url 'crear cuenta' %}" class="buton">Crear cuenta</a></li>
        <li><a href="{% url 'iniciar sesion' %}" class="buton">Iniciar Sesion</a></li>
    {% endif %}

{% endblock %}

{% block content %}
<section>
    <div>
        <div class="box">
            <div class="info-container">
                <div>
                    <p>Patente: {{ vehiculo.patente }}</p>
                </div>
                <div>
                    <p>Marca: {{ vehiculo.marca }}</p>
                </div>
                <div>
                    <p>Modelo: {{ vehiculo.modelo }}</p>
                </div>
                <div>
                    <p>Kilometraje: {{ vehiculo.kilometraje }}</p>
                </div>
                <div>
                    <p>Tipo: {{ vehiculo.tipo.clase }}</p>
                </div>
                <div>
                    <p>Año de fabricacion: {{ vehiculo.año_fabricacion }}</p>
                </div>
                {% if not vehiculo_en_trueque %}
                    {% if vehiculo.dueño.id == request.user.id %}
                    <div>
                        <a class="btn" href="#">Editar vehiculo</a>
                    </div>
                    <br>
                    {% endif %}
                    {% if request.user.is_superuser or vehiculo.dueño.id == request.user.id %}
                    <div>
                        <div class="btn-container">
                            <a class="btn" id="eliminar-vehiculo" href="">Eliminar vehiculo</a>
                        </div>
                        <div class="confirm"id="mensaje-eliminar-vehiculo" style="display: none;">
                            <p>¿Estas seguro de eliminar el vehiculo?</p>
                            <form method="POST" action="{% url 'eliminar vehiculo' vehiculo.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Confirmar</button>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="imagenesDiv">
                {% for imagen in imagenes %}
                    {% with 'imagenes_vehiculos/'|add:imagen.nombre_especifico as ruta_imagen %}
                        <div class="image-container">
                            <div class="p1">
                                <img src="{% static ruta_imagen %}">
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}