<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <div>
        <p><a href="{% url 'home' %}" class="gradient-text">Volver al menu</a></p>
    </div>
    <div>
        {% if request.user.id == param.id %}
            <p>bienvenido a tu perfil {{ request.user.mail }}</p>
        {% else %}
            <p>bienvenido al perfil de {{ param.mail }}</p>
        {% endif %}
    </div>
</body>
</html>