{% extends 'layouts/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/profile_body.css' %}">
{% endblock %}

{% block title %}
    <title>Perfil</title>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#cerrar-sesion").click(function(event){
            event.preventDefault();
            $("#mensaje-cerrar-sesion").toggle();
        });
    });
</script>
<script>
    $(document).ready(function(){
        $("#indice1").click(function(event){
            event.preventDefault();
            $(".caja").hide(); // Oculta todas las cajas
            $("#caja1").show(); // Muestra la caja correspondiente
        });
        //no borrar imp para el futuro
        $("#indice2").click(function(event){
            event.preventDefault();
            $(".caja").hide();
            $("#caja2").show();
        });
        $("#indice3").click(function(event){
            event.preventDefault();
            $(".caja").hide();
            $("#caja3").show();
        });
        $("#indice4").click(function(event){
            event.preventDefault();
            $(".caja").hide();
            $("#caja4").show();
        });
        $("#indice5").click(function(event){
            event.preventDefault();
            $(".caja").hide();
            $("#caja5").show();
        });
    });
</script>
{% endblock %}

{% block listnav %}
    {% if not request.user.id == param.id %}
        <li><a class="normal" href="{% url 'ver perfil' id=request.user.id %}"><i class="fa-solid fa-user"></i></a></li>
    {% endif %}
    <li class="modal"><a id="cerrar-sesion" class="normal"  href=""><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        <div id="mensaje-cerrar-sesion" class="mensaje" style="display: none;">
            <p>Estas seguro de cerrar la sesion?</p>
            <a href="{% url 'cerrar sesion' %}" class="buton2">Confirmar</a>
        </div>
    </li>
{% endblock %}

{% block content %}
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 class="titulo">{{param.nombre}} {{param.apellido}}</h3>
            <p class="texto"></p>
        </div>
        <div>
            <ul class="lista-datos">
                <li><i class="fa-sharp fa-solid fa-envelope"></i> Mail: {{param.mail}}</li>
                <li><i class="icono fas fa-phone-alt"></i> Telefono: {{param.telefono}}</li>
                {% if request.user.id == param.id %}
                <li><i class="icono fas fa-calendar-alt"></i> Fecha nacimiento:  {{ param.fecha_nacimiento|date:"d-m-Y" }}</li>
                {% endif %}
                <li><i class="fa-solid fa-star"></i> Reputacion:</li>
            </ul>
        </div>
        {% if request.user.id == param.id %}
            <div class="button-container">
                <a href="{% url 'cargar embarcacion' %}" class="button">Cargar embarcacion</a>
                <a href="{% url 'cargar vehiculo' %}" class="button">Cargar vehiculo</a>
            </div>
        {% endif %}
            <div class="containerIndices">
                {% if request.user.id == param.id %}
                <a href="#" id="indice1" class="button"><i class="fa-solid fa-sailboat"></i> Embarcaciones</a>
                <a href="#" id="indice2" class="button"><i class="fa-solid fa-truck-pickup"></i> Vehiculos</a>
                {% endif %}
                <a href="#" id="indice3" class="button"><i class="fa-solid fa-arrow-up-from-bracket"></i> Publicaciones</a>
                {% if request.user.id == param.id %}
                <a href="#" id="indice4" class="button"><i class="fa-solid fa-comments-dollar"></i> Ofertas</a>
                <a href="#" id="indice5" class="button"><i class="fa-solid fa-arrow-right-arrow-left"></i> Trueques</a>
                {% endif %}
            </div>
            <div class="container">
                {% if request.user.id == param.id %}
                <div id="caja1" class="caja" style="display: none;">
                    {% if embarcaciones %}
                        <div>
                            <h3>Embarcaciones:</h3>
                        </div>
                        {% for embarcacion in embarcaciones %}
                            <div>
                                <a href="{% url 'ver detalle embarcacion' embarcacion.id 0 %}">Matricula: {{embarcacion.matricula}}, Tipo: {{embarcacion.tipo.clase}}, modelo: {{embarcacion.modelo}}, sede: {{embarcacion.sede.nombre}}, deuda: {{embarcacion.deuda}} </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div>
                            <h3>No existen embarcaciones cargadas</h3>
                        </div>
                    {% endif %}
                </div>

                <div id="caja2" class="caja" style="display: none;">
                    {% if vehiculos %}
                        <div>
                            <h3>Vehiculos:</h3>
                        </div>
                        {% for vehiculo in vehiculos %}
                            <div>
                                <a href="#">Patente: {{vehiculo.patente}}, Tipo: {{vehiculo.tipo.clase}}, Marca: {{vehiculo.marca}}, Modelo: {{vehiculo.modelo}}</a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div>
                            <h3>No existen vehiculos cargados</h3>
                        </div>
                    {% endif %}
                </div>
                {% endif %}
                <div id="caja3" class="caja" style="display: none;">
                    {% if publicaciones %}
                        <div>
                            <h3>Publicaciones:</h3>
                        </div>
                        {% for publicacion in publicaciones %}
                            <div>
                                <a href="{% url 'ver detalle publicacion' publicacion.id 0 %}">Matricula involucrada: {{publicacion.embarcacion.matricula}}, descripcion: {{publicacion.descripcion}}, monto: {{publicacion.monto}}</a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div>
                            <h3>No existen publicaciones activas</h3>
                        </div>
                    {% endif %}
                </div>
                {% if request.user.id == param.id %}
                <div id="caja4" class="caja" style="display: none;">
                    {% if ofertas %}
                        <div>
                            <h3>Ofertas:</h3>
                        </div>
                        {% for oferta in ofertas %}
                            {% if oferta.estado == "Pendiente" %}
                                <div>
                                {% if oferta.vehiculo_ofertado %}
                                    <a href="{% url 'ver detalle publicacion' oferta.publicacion.id %}">Embarcacion ofertada: {{oferta.publicacion.embarcacion.matricula}}, Vehiculo ofrecido: {{oferta.vehiculo_ofertado.patente}}, monto: {{oferta.monto}}, estado: {{oferta.estado}}</a>
                                {% else %}
                                    <a href="{% url 'ver detalle publicacion' oferta.publicacion.id %}">Embarcacion ofertada: {{oferta.publicacion.embarcacion.matricula}}, Embarcacion ofrecida: {{oferta.embarcacion_ofertada.matricula}}, monto: {{oferta.monto}}, estado: {{oferta.estado}}</a>
                                {% endif %}
                                </div>
                            {% elif oferta.estado == "Aceptada" %}
                                <div>
                                {% if oferta.vehiculo_ofertado %}
                                    <a href="">Embarcacion ofertada: {{oferta.publicacion.embarcacion.matricula}}, Vehiculo ofrecido: {{oferta.vehiculo_ofertado.patente}}, monto: {{oferta.monto}}, estado: {{oferta.estado}}</a>
                                {% else %}
                                    <a href="">Embarcacion ofertada: {{oferta.publicacion.embarcacion.matricula}}, Embarcacion ofrecida: {{oferta.embarcacion_ofertada.matricula}}, monto: {{oferta.monto}}, estado: {{oferta.estado}}</a>
                                {% endif %}
                                </div>
                            {% else %}
                                <div>
                                {% if oferta.vehiculo_ofertado %}
                                    <a href="">Embarcacion ofertada: {{oferta.publicacion.embarcacion.matricula}}, Vehiculo ofrecido: {{oferta.vehiculo_ofertado.patente}}, monto: {{oferta.monto}}, estado: {{oferta.estado}}</a>
                                {% else %}
                                    <a href="">Embarcacion ofertada: {{oferta.publicacion.embarcacion.matricula}}, Embarcacion ofrecida: {{oferta.embarcacion_ofertada.matricula}}, monto: {{oferta.monto}}, estado: {{oferta.estado}}</a>
                                {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        
                    {% else %}
                        <div>
                            <h3>No existen ofertas activas</h3>
                        </div>
                    {% endif %}
                </div>
                <div id="caja5" class="caja" style="display: none;">
                    {% if trueques %}
                        <div>
                            <h3>Trueques:</h3>
                        </div>
                        {% for trueque in trueques %}
                            <div>
                            {% if trueque.embarcacion2 %}
                                    <a href="{% url 'ver detalle trueque' trueque.id %}">Monto: {{trueque.monto}}, Dueño de publicacion: {{trueque.usuario1.id}}, Ofertante: {{trueque.usuario2.id}} Embarcacion publicada: {{trueque.embarcacion1.tipo.clase}} {{trueque.embarcacion1.modelo}}, Embarcacion ofertada: {{trueque.embarcacion2.tipo.clase}} {{trueque.embarcacion2.modelo}}, estado {{trueque.estado}}</a>
                            {% else %}
                                    <a href="{% url 'ver detalle trueque' trueque.id %}">Monto: {{trueque.monto}}, Dueño de publicacion: {{trueque.usuario1.id}}, Ofertante: {{trueque.usuario2.id}} Embarcacion publicada: {{trueque.embarcacion1.tipo.clase}} {{trueque.embarcacion1.modelo}}, Vehiculo ofertado: {{trueque.vehiculo.marca}}, modelo: {{trueque.vehiculo.modelo}}, año fabricacion: {{trueque.vehiculo.año_fabricacion}}, estado {{trueque.estado}}</a>
                            {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div>
                            <h3>No existen trueques</h3>
                        </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
    </div>
{% endblock %}