{% extends 'layouts/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/profile_body.css' %}">
{% endblock %}

{% block title %}
    <title>Perfil</title>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#cerrar-sesion").click(function(event){
            event.preventDefault();
            $("#mensaje-cerrar-sesion").toggle();
        });
    });
</script>
<script>
    $(document).ready(function(){
        $("#indice1").click(function(event){
            event.preventDefault();
            $(".caja").hide();
            $("#caja1").show();
        });
        $("#indice2").click(function(event){
            event.preventDefault();
            $(".caja").hide();
            $("#caja2").show();
        });
        $("#indice3").click(function(event){
            event.preventDefault();
            $(".caja").hide();
            $("#caja3").show();
        });
        $("#indice4").click(function(event){
            event.preventDefault();
            $(".caja").hide();
            $("#caja4").show();
        });
        $("#indice5").click(function(event){
            event.preventDefault();
            $(".caja").hide();
            $("#caja5").show();
        });

         // Mostrar la ventana de confirmación de eliminacion
         $(".btn-delete").click(function(event){
            event.preventDefault();
            var ofertaId = $(this).data('id');
            $("#window-confirm-delete").data('id', ofertaId).show();
        });

        // Cancelar la eliminacion
        $(".window-cancel").click(function(){
            $("#window-confirm-delete").hide();
        });

        // Confirmar eliminación
        $(".window-confirm").click(function(){
            var ofertaId = $("#window-confirm-delete").data('id');
            $("#window-confirm-delete").hide();
            $.ajax({
                url: '/eliminar_oferta/' + ofertaId + '/',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'  // Asegúrate de incluir el token CSRF
                },
                success: function(response) {
                    if (response.status === 'success') {
                        $("#success-message").show();
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function(xhr, status, error) {
                    alert('Error: ' + error);
                }
            });
        });

        // Ocultar el mensaje de éxito
        $(".success-accept").click(function(){
            $("#success-message").hide();
            location.reload();
        });
    });
</script>
{% endblock %}

{% block listnav %}
    {% if not request.user.id == param.id %}
        <li><a class="normal" href="{% url 'ver perfil' id=request.user.id %}"><i class="fa-solid fa-user"></i></a></li>
    {% endif %}
    <li class="modal"><a id="cerrar-sesion" class="normal"  href=""><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        <div id="mensaje-cerrar-sesion" class="mensaje" style="display: none;">
            <p>Estas seguro de cerrar la sesion?</p>
            <a href="{% url 'cerrar sesion' %}" class="buton2">Confirmar</a>
        </div>
    </li>
{% endblock %}

{% block content %}
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 class="titulo">{{param.nombre}} {{param.apellido}}</h3>
            <p class="texto"></p>
        </div>
        <div>
            <ul class="lista-datos">
                <li><i class="fa-sharp fa-solid fa-envelope"></i> Mail: {{param.mail}}</li>
                <li><i class="icono fas fa-phone-alt"></i> Telefono: {{param.telefono}}</li>
                {% if request.user.id == param.id %}
                <li><i class="icono fas fa-calendar-alt"></i> Fecha nacimiento:  {{ param.fecha_nacimiento|date:"d-m-Y" }}</li>
                {% endif %}
                <li><i class="fa-solid fa-star"></i> Reputacion:</li>
            </ul>
        </div>
        {% if request.user.id == param.id %}
            <div class="button-container">
                <a href="{% url 'cargar embarcacion' %}" class="button">Cargar embarcacion</a>
                <a href="{% url 'cargar vehiculo' %}" class="button">Cargar vehiculo</a>
            </div>
        {% endif %}
            <div class="containerIndices">
                {% if request.user.id == param.id %}
                <a href="#" id="indice1" class="button"><i class="fa-solid fa-sailboat"></i> Embarcaciones</a>
                <a href="#" id="indice2" class="button"><i class="fa-solid fa-truck-pickup"></i> Vehiculos</a>
                {% endif %}
                <a href="#" id="indice3" class="button"><i class="fa-solid fa-arrow-up-from-bracket"></i> Publicaciones</a>
                {% if request.user.id == param.id %}
                <a href="#" id="indice4" class="button"><i class="fa-solid fa-comments-dollar"></i> Ofertas</a>
                <a href="#" id="indice5" class="button"><i class="fa-solid fa-arrow-right-arrow-left"></i> Trueques</a>
                {% endif %}
            </div>
            <div class="container">
                {% if request.user.id == param.id %}
                <div id="caja1" class="caja" style="display: none;">
                    {% if embarcaciones %}
                        <div>
                            <h3>Embarcaciones:</h3>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Matricula</th>
                                    <th>Tipo</th>
                                    <th>Modelo</th>
                                    <th>Sede</th>
                                    <th>Deuda</th>
                                </tr>
                            </thead>
                            <tbody>
                    
                                {% for embarcacion in embarcaciones %}

                                    <tr>
                                        <td>
                                            <a href="{% url 'ver detalle embarcacion' embarcacion.id 0 %}"> {{embarcacion.matricula}} </a>
                                        </td>
                                        <td>{{embarcacion.tipo.clase}}</td>
                                        <td>{{embarcacion.modelo}}</td>
                                        <td>{{embarcacion.sede.nombre}}</td>
                                        <td>{{embarcacion.deuda}}</td>
                                    </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div>
                            <h3>No existen embarcaciones cargadas</h3>
                        </div>
                    {% endif %}
                </div>

                <div id="caja2" class="caja" style="display: none;">
                    {% if vehiculos %}
                        <div>
                            <h3>Vehiculos:</h3>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Patente</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Kilometraje</th>
                                    <th>Año de Fabricación</th>
                                    <th>Tipo de Vehículo</th>
                                </tr>
                            </thead>
                            <tbody>
                    
                                {% for vehiculo in vehiculos %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'ver detalle vehiculo' vehiculo.id 0 %}"> {{vehiculo.patente}} </a>
                                        </td>
                                        <td>{{ vehiculo.marca }}</td>
                                        <td>{{ vehiculo.modelo }}</td>
                                        <td>{{ vehiculo.kilometraje }}</td>
                                        <td>{{ vehiculo.año_fabricacion }}</td>
                                        <td>{{ vehiculo.tipo.clase }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div>
                            <h3>No existen vehiculos cargados</h3>
                        </div>
                    {% endif %}
                </div>
                {% endif %}
                <div id="caja3" class="caja" style="display: none;">
                    {% if publicaciones %}
                        <div>
                            <h3>Publicaciones:</h3>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Embarcacion</th>
                                    <th>Deuda</th>
                                    <th>Tipo de embarcacion</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for publicacion in publicaciones %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'ver detalle embarcacion' publicacion.embarcacion_id 0%}">{{ publicacion.embarcacion.matricula }}</a>
                                        </td>
                                        <td>{{ publicacion.monto }}</td>
                                        <td>
                                            <a href="{% url 'ver detalle publicacion' publicacion.id 0 %}">{{ publicacion.embarcacion.tipo.clase }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div>
                            <h3>No existen publicaciones activas</h3>
                        </div>
                    {% endif %}
                </div>
                {% if request.user.id == param.id %}
                <div id="caja4" class="caja" style="display: none;">
                    {% if ofertas %}
                        <div>
                            <h3>Ofertas:</h3>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Vehículo/Embarcación ofertado</th>
                                    <th>Monto</th>
                                    <th>Publicación</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for oferta in ofertas %}
                                    <tr>
                                        {% if oferta.vehiculo_ofertado %}
                                            <td>
                                                <a href="{% url 'ver detalle vehiculo' oferta.vehiculo_ofertado.id 0 %}">{{ oferta.vehiculo_ofertado.patente }}</a>
                                            </td>
                                        {% elif oferta.embarcacion_ofertada %}
                                            <td>
                                                <a href="{% url 'ver detalle embarcacion' oferta.embarcacion_ofertada.id 0 %}">{{ oferta.embarcacion_ofertada.tipo.clase }} - {{ oferta.embarcacion_ofertada.matricula }}</a>
                                            </td>
                                        {% endif %}

                                        <td>{{ oferta.monto }}</td>

                                        <td>{{ oferta.publicacion.embarcacion.tipo.clase }} - {{ oferta.publicacion.embarcacion.matricula }}</td>

                                        {% if oferta.estado == "Pendiente" %}
                                            <td>
                                                <a href="{% url 'ver detalle publicacion' oferta.publicacion.id 0 %}">{{ oferta.estado }}</a>
                                            </td>
                                        {% elif oferta.estado == "Aceptada" %}
                                            <td>{{ oferta.estado }}</td>
                                        {% else %}
                                            <td>{{ oferta.estado }}</td>
                                        {% endif %}
                                        <td>
                                        {% if oferta.estado == "Pendiente" %}
                                            <button type="submit" class="btn-delete" data-id="{{ oferta.id }}">Eliminar</button>
                                        {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>                        
                    {% else %}
                        <div>
                            <h3>No existen ofertas activas</h3>
                        </div>
                    {% endif %}
                </div>
                <div id="caja5" class="caja" style="display: none;">
                    {% if trueques %}
                        <div>
                            <h3>Trueques:</h3>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Publicante</th>
                                    <th>Monto</th>
                                    <th>Embarcacion publicada</th>
                                    <th>Ofertante</th>
                                    <th>Vehiculo/Embaracion ofertada</th>
                                    <th>Fecha inicio</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for trueque in trueques %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'ver perfil' trueque.usuario1_id %}">{{ trueque.usuario1.mail }}</a>
                                        </td>
                                        <td>{{ trueque.monto }}</td>
                                        <td>
                                            <a href="{% url 'ver detalle embarcacion' trueque.embarcacion1_id 0 %}">{{ trueque.embarcacion1.matricula }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'ver perfil' trueque.usuario2_id %}">{{ trueque.usuario2.mail }}</a>
                                        </td>
                                        {% if trueque.vehiculo_id %}
                                            <td>
                                                <a href="{% url 'ver detalle vehiculo' trueque.vehiculo_id 0 %}">{{ trueque.vehiculo.patente }}</a>
                                            </td>
                                        {% elif trueque.embarcacion2_id %}
                                            <td>
                                                <a href="{% url 'ver detalle embarcacion' trueque.embarcacion2_id 0 %}">{{ trueque.embarcacion2.matricula }}</a>
                                            </td>
                                        {% endif %}
                                        <td>
                                            {{ trueque.fecha_inicio }}
                                        </td>
                                        <td>
                                            {% if trueque.estado == "Completado" %}
                                                <a href="{% url 'ver detalle trueque' trueque.id %}" style="color:green">{{ trueque.estado }}</a>
                                            {% elif trueque.estado == "Pendiente" %}
                                                <a href="{% url 'ver detalle trueque' trueque.id %}" style="color:blue">{{ trueque.estado }}</a>
                                            {% elif trueque.estado == "Cancelado" %}
                                            <a href="{% url 'ver detalle trueque' trueque.id %}" style="color:red">{{ trueque.estado }}</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div>
                            <h3>No existen trueques</h3>
                        </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
    </div>

    <div id="window-confirm-delete" class="window" style="display: none;">
        <div class="window-content">
            <p>¿Estas seguro que desea eliminar la oferta?</p>
            <div class="window-buttons">
                <button class="window-confirm">Confirmar</button>
                <button class="window-cancel">Cancelar</button>
            </div>
        </div>
    </div>
    
    <div id="success-message" class="window" style="display: none;">
        <div class="window-content">
            <p>La oferta se ha eliminado con éxito</p>
            <div class="window-buttons">
                <button class="success-accept">Aceptar</button>
            </div>
        </div>
    </div>
{% endblock %}