{% extends 'layouts/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/boat_detail_body.css' %}">
{% endblock %}

{% block title %}
    <title>Ver detalle publicacion</title>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#cerrar-sesion").click(function(event){
            event.preventDefault();
            $("#mensaje-cerrar-sesion").toggle();
        });
    });
</script>
<script>
    $(document).ready(function(){
        $("#eliminar-embarcacion").click(function(event){
            event.preventDefault();
            $("#mensaje-eliminar-embarcacion").toggle();
        });
    });
</script>
{% endblock %}

{% block listnav %}
    {% if request.user.is_authenticated %}
        <li><a class="normal" href="{% url 'ver perfil' id=request.user.id %}"><i class="fa-solid fa-user"></i></a></li>
    {% endif %}
    {% if request.user.is_authenticated %}
        <li class="modal"><a id="cerrar-sesion" class="normal"  href=""><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            <div id="mensaje-cerrar-sesion" class="mensaje" style="display: none;">
                <p>Estas seguro de cerrar la sesion?</p>
                <a href="{% url 'cerrar sesion' %}" class="buton2">Confirmar</a>
            </div>
        </li>
    {% else %}
        <li><a href="{% url 'crear cuenta' %}" class="buton">Crear cuenta</a></li>
        <li><a href="{% url 'iniciar sesion' %}" class="buton">Iniciar Sesion</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<section>       
    <div>
        <div class="box">
            <div class="info-container">
                <div>
                    <p>Dueño: <a href="{% url 'ver perfil' publicacion.autor.id %}">{{publicacion.autor.mail}}</a></p>
                </div>
                <div>
                    <p>Tipo: {{publicacion.embarcacion.tipo.clase}}</p>
                </div>
                <div>
                    <p>Modelo: {{publicacion.embarcacion.modelo}}</p>
                </div>
                <div>
                    <p>Descripcion: {{publicacion.descripcion}}</p>
                </div>
                <div>
                    <p>Monto: {{publicacion.monto}}</p>
                </div>
                {% if request.user.is_superuser %}
                <div>
                    <a href="#">Eliminar</a>
                </div>
                {% endif %}
            </div>
            <div class='imagenesDiv'>
                {% for imagen in imagenes %}
                    {% with 'imagenes_embarcaciones/'|add:imagen.nombre_especifico as ruta_imagen %}
                    <div class='image-container'>
                        <div class="p1">
                            <img src="{% static ruta_imagen %}" style="width:100%">
                        </div>
                    </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div> 
</section>
<div>
    {% if not request.user.mail == publicacion.autor.mail %}
        <a href="{% url 'publicar oferta' publicacion.id %}">Publicar oferta</a>
    {% endif %}
</div>
{% endblock %}
