{% extends 'layouts/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/post_detail.css' %}">
{% endblock %}

{% block title %}
    <title>Ver detalle publicacion</title>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#cerrar-sesion").click(function(event){
            event.preventDefault();
            $("#mensaje-cerrar-sesion").toggle();
        });
    });
</script>
<script>
    $(document).ready(function(){
        $("#eliminar-publicacion").click(function(event){
            event.preventDefault();
            $("#mensaje-eliminar-publicacion").toggle();
        });
    });
</script>
{% endblock %}

{% block listnav %}
    {% if request.user.is_authenticated %}
        <li><a class="normal" href="{% url 'ver perfil' id=request.user.id %}"><i class="fa-solid fa-user"></i></a></li>
    {% endif %}
    {% if request.user.is_authenticated %}
        <li class="modal"><a id="cerrar-sesion" class="normal"  href=""><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            <div id="mensaje-cerrar-sesion" class="mensaje" style="display: none;">
                <p>Estas seguro de cerrar la sesion?</p>
                <a href="{% url 'cerrar sesion' %}" class="buton2">Confirmar</a>
            </div>
        </li>
    {% else %}
        <li><a href="{% url 'crear cuenta' %}" class="buton">Crear cuenta</a></li>
        <li><a href="{% url 'iniciar sesion' %}" class="buton">Iniciar Sesion</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<section>       
    <div>
        <div class="box">
            <div class="info-container">
                <div>
                    <p>Dueño: <a href="{% url 'ver perfil' publicacion.autor.id %}">{{publicacion.autor.mail}}</a></p>
                </div>
                <div>
                    <p>Tipo: {{publicacion.embarcacion.tipo.clase}}</p>
                </div>
                <div>
                    <p>Modelo: {{publicacion.embarcacion.modelo}}</p>
                </div>
                <div>
                    <p>Descripcion: {{publicacion.descripcion}}</p>
                </div>
                <div>
                    <p>Monto: {{publicacion.monto}}</p>
                </div>
                <div>
                    <p>Matricula: <a href="{% url 'ver detalle embarcacion' publicacion.embarcacion.id 0 %}">{{publicacion.embarcacion.matricula}}</a></p>
                </div>
                {% if request.user.is_superuser or request.user == publicacion.autor %}
                <div>
                    <div class="btn-container">
                        <a class="btn" id="eliminar-publicacion" href="">Eliminar publicacion</a>
                    </div>
                    <div class="confirm" id="mensaje-eliminar-publicacion" style="display: none;">
                        <p>¿Estas seguro de eliminar la publicacion?</p>
                        <a class="btn" href="{% url 'ver detalle publicacion' publicacion.id 1 %}">Confirmar</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            <div class='imagenesDiv'>
                {% for imagen in imagenes %}
                    {% with 'imagenes_embarcaciones/'|add:imagen.nombre_especifico as ruta_imagen %}
                    <div class='image-container'>
                        <div class="p1">
                            <img src="{% static ruta_imagen %}" style="width:100%">
                        </div>
                    </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div> 
</section>
<div>
    {% if not request.user.mail == publicacion.autor.mail %}
        <form action="{% url 'publicar oferta' publicacion.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="publicacion_id" value="{{ publicacion.id }}">
            <button type="submit" class="btn-post-offer">Publicar oferta</button>
        </form>
    {% endif %}
</div>
<div>
    <h3>Ofertas:</h3>
</div>

<div>
    {% if ofertas %}
        {% for oferta in ofertas %}
            <div class="oferta-container">
                <div class="oferta-info">
                    <a href="{% url 'ver perfil' oferta.autor.id %}">{{oferta.autor}}:</a>
                    {% if oferta.vehiculo_ofertado %}
                        Vehiculo ofrecido: <a href="{% url 'ver detalle vehiculo' oferta.vehiculo_ofertado.id 0 %}">{{oferta.vehiculo_ofertado.patente}}</a>, monto: {{oferta.monto}}
                    {% else %}
                        Embarcacion ofrecida: <a href="{% url 'ver detalle embarcacion' oferta.embarcacion_ofertada.id 0 %}">{{oferta.embarcacion_ofertada.matricula}}</a>, monto: {{oferta.monto}}
                    {% endif %}
                </div>
            {% if request.user.mail == publicacion.autor.mail %}
                <form action="{% url 'ver detalle publicacion' publicacion.id 0 %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="acepto" value="{{ True }}">
                    <input type="hidden" name="oferta_id" value="{{ oferta.id }}">
                    <input type="hidden" name="ok" value="{{ True }}">
                    <button type="submit" class="btn-acept">Aceptar</button>
                </form>
                <form action="{% url 'ver detalle publicacion' publicacion.id 0 %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="acepto" value="{{ False }}">
                    <input type="hidden" name="oferta_id" value="{{ oferta.id }}">
                    <input type="hidden" name="ok" value="{{ True }}">
                    <button type="submit" class="btn-rechazar">Rechazar</button>
                </form>
            {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div>
            <h3>No existen ofertas activas</h3>
        </div>
    {% endif %}
</div>
{% if ok == "True" %}
<div class="window-notice" id="window-notice">  
    <div class="content">
        {% if acepto == "True" %}
            <p class="content-text">¿Desea aceptar la oferta?</p> 
            <div class="content-buttons">
                <form action="{% url 'aceptar oferta' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="publicacion_id" value="{{ publicacion.id }}">
                    <input type="hidden" name="oferta_id" value="{{ oferta_id }}">
                    <button type="submit">Confirmar</button>
                </form>
                <form action="{% url 'ver detalle publicacion' publicacion.id 0 %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="acepto" value="{{ False }}">
                    <input type="hidden" name="oferta_id" value="{{ oferta.id }}">
                    <input type="hidden" name="ok" value="{{ False }}">
                    <button type="submit">Cancelar</button>
                </form>
            </div>
        {% else %}
            <p class="content-text">¿Desea rechazar la oferta?</p> 
            <div class="content-buttons">
                <form action="{% url 'ver detalle publicacion' publicacion.id 0 %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="acepto" value="{{ False }}">
                    <input type="hidden" name="oferta_id" value="{{ oferta.id }}">
                    <input type="hidden" name="ok" value="{{ False }}">
                    <button type="submit">Confirmar</button>
                </form>
                <form action="{% url 'ver detalle publicacion' publicacion.id 0 %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="acepto" value="{{ False }}">
                    <input type="hidden" name="oferta_id" value="{{ oferta.id }}">
                    <input type="hidden" name="ok" value="{{ False }}">
                    <button type="submit">Cancelar</button>
                </form>
            </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% if eliminar == 1 %}
<div class="window-eliminar" id="window-eliminar">  
    <div class="eliminar-content">
        <p class="eliminar-content-text">La publicacion se elimino correctamente</p> 
        <div class="eliminar-content-button"><a href="{% url 'eliminar publicacion' publicacion.id %}">Aceptar</a></div>
    </div>
</div>
{% endif %}  
{% endblock %}
