{% extends 'layouts/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/post_detail.css' %}">
{% endblock %}

{% block title %}
    <title>Ver detalle publicacion</title>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#cerrar-sesion").click(function(event){
            event.preventDefault();
            $("#mensaje-cerrar-sesion").toggle();
        });
    });
</script>
<script>
    $(document).ready(function(){
        $("#eliminar-embarcacion").click(function(event){
            event.preventDefault();
            $("#mensaje-eliminar-embarcacion").toggle();
        });
    });
</script>
{% endblock %}

{% block listnav %}
    {% if request.user.is_authenticated %}
        <li><a class="normal" href="{% url 'ver perfil' id=request.user.id %}"><i class="fa-solid fa-user"></i></a></li>
    {% endif %}
    {% if request.user.is_authenticated %}
        <li class="modal"><a id="cerrar-sesion" class="normal"  href=""><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            <div id="mensaje-cerrar-sesion" class="mensaje" style="display: none;">
                <p>Estas seguro de cerrar la sesion?</p>
                <a href="{% url 'cerrar sesion' %}" class="buton2">Confirmar</a>
            </div>
        </li>
    {% else %}
        <li><a href="{% url 'crear cuenta' %}" class="buton">Crear cuenta</a></li>
        <li><a href="{% url 'iniciar sesion' %}" class="buton">Iniciar Sesion</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<section>       
    <div>
        <div class="box">
            <div class="info-container">
                <div>
                    <p>Dueño: <a href="{% url 'ver perfil' publicacion.autor.id %}">{{publicacion.autor.mail}}</a></p>
                </div>
                <div>
                    <p>Tipo: {{publicacion.embarcacion.tipo.clase}}</p>
                </div>
                <div>
                    <p>Modelo: {{publicacion.embarcacion.modelo}}</p>
                </div>
                <div>
                    <p>Descripcion: {{publicacion.descripcion}}</p>
                </div>
                <div>
                    <p>Monto: {{publicacion.monto}}</p>
                </div>
                <div>
                    <p>Matricula: <a href="{% url 'ver detalle embarcacion' publicacion.embarcacion.id 0 %}">{{publicacion.embarcacion.matricula}}</a></p>
                </div>
                {% if request.user.is_superuser %}
                    <form action="#" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="embarcacion_id" value="{{ embarcacion.id }}">
                        <button type="submit" class="btn-delete">Eliminar</button>
                    </form>
                {% endif %}
            </div>
            <div class='imagenesDiv'>
                {% for imagen in imagenes %}
                    {% with 'imagenes_embarcaciones/'|add:imagen.nombre_especifico as ruta_imagen %}
                    <div class='image-container'>
                        <div class="p1">
                            <img src="{% static ruta_imagen %}" style="width:100%">
                        </div>
                    </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div> 
</section>
<div>
    {% if not request.user.mail == publicacion.autor.mail %}
        <form action="{% url 'publicar oferta' publicacion.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="publicacion_id" value="{{ publicacion.id }}">
            <button type="submit" class="btn-post-offer">Publicar oferta</button>
        </form>
    {% endif %}
</div>
<div>
    <h3>Ofertas:</h3>
</div>
<div>
    {% if ofertas %}
        {% for oferta in ofertas %}
            <div>
            {% if oferta.vehiculo_ofertado %}
                    <a href="">Vehiculo ofrecido: <a href="{% url 'ver detalle vehiculo' oferta.vehiculo_ofertado.id 0 %}">{{oferta.vehiculo_ofertado.patente}}</a>, monto: {{oferta.monto}}</a>
            {% else %}
                    <a href="">Embarcacion ofrecida: <a href="{% url 'ver detalle embarcacion' oferta.embarcacion_ofertada.matricula 0 %}">{{oferta.embarcacion_ofertada.matricula}}</a>, monto: {{oferta.monto}}</a>
            {% endif %}
            {% if request.user.mail == publicacion.autor.mail %}
                    <a href="" class="btn-block">Aceptar</a>
                    <a href="" class="btn-delete">rechazar</a>
            {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div>
            <h3>No existen ofertas activas</h3>
        </div>
    {% endif %}
</div>
{% endblock %}
