{% extends 'layouts/navbar_employees.html' %}

{% block title %}
    <title>Mi Perfil</title>
{% endblock %}

{% block content %}

    <div class="header">
        <h1>Mi perfil</h1>
    </div>

    <div class="profile-container">
        <p>Nombre: {{ empleado.nombre }}</p>
        <p>Apellido: {{ empleado.apellido }}</p>
        <p>Fecha de Nacimiento: {{ empleado.fecha_nacimiento }}</p>
        <p>Teléfono: {{ empleado.telefono }}</p>
        <p>Mail: {{ empleado.mail }}</p>  

        <a href="{% url 'editar_empleado' empleado_id=empleado.id %}" class="btn-primary">Editar</a>
    </div>

{% endblock %}
