body {
    background: #202020;
    color: whitesmoke;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente el contenido */
    margin-bottom: 20px; /* Añade espacio entre la cabecera y la tabla */
}

.header h1 {
    margin: 0; /* Elimina el margen predeterminado del h1 */
}

.btn-primary {
    background-color: #007bff; /* Color de fondo azul del botón */
    border-color: #007bff; /* Color del borde azul del botón */
    color: #fff; /* Color del texto blanco */
    padding: 8px 16px; /* Espaciado interno del botón */
    border-radius: 4px; /* Borde redondeado */
    text-decoration: none; /* Elimina la subrayado predeterminado */
}

.btn-primary:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
    border-color: #0056b3; /* Cambia el color del borde al pasar el ratón */
}

.navbar {
    background: #404040;
    padding: 5px 0;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: aquamarine;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 10px;
}

table {
    width: 100%;
    background: #404040;
    color: whitesmoke;
    padding: 10px;
    margin-bottom: 2px;
}

table caption {
    font-size: 20px;
}

table thead th {
    font-size: 18px;
}

table tbody td {
    font-size: 16px;
}

table th, table td {
    padding: 8px;
    text-align: center;
}

a:link, a:visited {
    color: lightblue;
    font-size: 16px;
}

a:hover, a:active {
    color: lightcoral;
    font-size: 16px;
}

.input {
    background: wheat;
    padding: 10px;
    text-align: center;
    display: block;
}
