{% extends 'layouts/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/index_main.css' %}">
{% endblock %}

{% block title %}
    <title>OhMyBoat!</title>
{% endblock %}

{% block scripts %}
<script> window.onpageshow = function(event) {
        if (event.persisted) {
            window.location.reload();
        }
    };
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#cerrar-sesion").click(function(event){
            event.preventDefault();
            $("#mensaje-cerrar-sesion").toggle();
        });
    });
</script>
{% endblock %}

{% block listnav %}
    {% if request.user.is_authenticated %}
        <li><a class="normal" href="{% url 'ver perfil' id=request.user.id %}"><i class="fa-solid fa-user"></i></a></li>
    {% endif %}
    {% if request.user.is_authenticated %}
        <li class="modal"><a id="cerrar-sesion" class="normal"  href=""><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            <div id="mensaje-cerrar-sesion" class="mensaje" style="display: none;">
                <p>Estas seguro de cerrar la sesion?</p>
                <a href="{% url 'cerrar sesion' %}" class="buton2">Confirmar</a>
            </div>
        </li>
    {% else %}
        <li><a href="{% url 'crear cuenta' %}" class="buton">Crear cuenta</a></li>
        <li><a href="{% url 'iniciar sesion' %}" class="buton">Iniciar Sesion</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <aside>
        <ul>
            <li>
                <a href="{% url 'crear publicacion' %}" class="button">Crear Publicación</a>
            </li>
        </ul>
    </aside>

    {% if mensaje %}
        <div class="window-mensaje">  
            <div class="mensaje-content">
                <p class="mensaje-content-text">Para crear una publicación, debes tenes una embarcacion sin ofertas en tu pefil.</p> 
                <div class="mensaje-content-button"><a href="{% url 'home' %}">Aceptar</a></div>
            </div>
        </div>
    {% else %}
        <div class="publicacion-container">
            {% for post in publicaciones %}
                <div class="publicacion">
                    {% with 'imagenes_embarcaciones/'|add:post.imagen as ruta_imagen %}
                        <a href="{% url 'ver detalle publicacion' post.id 0 %}" >
                            <img src="{% static ruta_imagen %}">
                        </a>
                    {% endwith %}
                    <p>{{ post.embarcacion.modelo }}</p> 
                    <p>{{ post.monto }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
