{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style_header.css' %}">
</head>
<body>

    <header>

        <div class="content">

            <div class="menu container">
                <img src="{% static 'images/Oh_My_Boat_logo_2.jpg' %}" width="80" height="80">
                <a href="{% url 'home' %}" class="logo">OhMyBoat!</a> 
                <input type="checkbox" id="menu" />
                <label for="menu">
                    <img class="menu-icon" src="{% static '/images/menu.png' %}" width="50" height="50">
                </label>
                <nav class="navbar">

                    <ul>
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'cerrar sesion' %}"> cerrar sesion</a></li>
                        {% else %}
                        <li><a href="{% url 'iniciar sesion' %}"> Iniciar sesion</a></li>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'ver_perfil' id=request.user.id %}">Ver perfil</a>
                        {% else %}
                        <li><a href="#">Ver perfil</a>
                        {% endif %}   
                        <li><a href="#">Contacto</a>
                    </ul>
                </nav>
            </div>
            <div>
                {% if request.user.is_authenticated %}
                <p>Gracias por conectarte, {{ request.user.mail }}</p>
                {% else %}
                <p>Bienvenido, visitante</p>  
                {% endif %}
            </div>
        </div>
    </header>
</body>

</html>

