{% extends 'layouts/navbar.html' %}

{% block title %}
    <title>Embarcaciones</title>
{% endblock %}

{% block content %}

<div class="header">
    <h1>Embarcaciones</h1>
</div>

{% if embarcaciones %}
    <table>
        <thead>
            <tr>
                <th>Matricula</th>
                <th>Tipo</th>
                <th>Sede</th>
                <th>Deuda</th>
                <th>Dueño</th>
            </tr>
        </thead>
        <tbody>

            {% for embarcacion in embarcaciones %}

                <tr>
                    <td>
                        <a href="{% url 'ver detalle embarcacion' embarcacion.id 0 %}"> {{embarcacion.matricula}} </a>
                    </td>
                    <td>{{embarcacion.tipo.clase}}</td>
                    <td>{{embarcacion.sede.nombre}}</td>
                    <td>{{embarcacion.deuda}}</td>
                    <td>
                        <a href="{% url 'ver perfil' embarcacion.dueño.id %}"> {{embarcacion.dueño}} </a>
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3>No existen embarcaciones en la plataforma.</h3>
{% endif %}
{% endblock %}