{% extends 'layouts/navbar.html' %}

{% block title %}
    <title>Empleados</title>
{% endblock %}

{% block content %}

<div class="header">
    <h1>Empleados</h1>
    <a href="{% url 'crear empleado' %}" class="btn btn-primary">Crear nuevo empleado</a>
</div>

{% if empleados %}
    <table>
        <thead>
            <tr>
                <th>Mail</th>
                <th>Sede</th>
            </tr>
        </thead>
        <tbody>

            {% for empleado in empleados %}

                <tr>
                    <td>{{empleado.mail}}</td>
                    <td>{{empleado.sede}}</td>
                </tr>

            {% endfor %}

        </tbody>
    </table>
{% else %}
    <h3>No existen empleados en la plataforma.</h3>
{% endif %}

{% endblock %}