{% extends 'layouts/navbar.html' %}

{% block title %}
    <title>Empleado: {{empleado.mail}}</title>
{% endblock %}

{% block content %}

    <div class="header">
        <h1>Empleado: {{empleado.mail}}</h1>
    </div>

    <div class="profile-container">
        <p>Nombre: {{ empleado.nombre }}</p>
        <p>Apellido: {{ empleado.apellido }}</p>
        <p>Fecha de Nacimiento: {{ empleado.fecha_nacimiento }}</p>
        <p>Teléfono: {{ empleado.telefono }}</p>
        <p>Mail: {{ empleado.mail }}</p>  
    </div>

{% endblock %}