{% extends 'layouts/navbar.html' %}

{% block content %}

<table>
    <caption>Usuarios</caption>
    <thead>
        <tr>
            <th>Mail</th>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
    </thead>
    <tbody>

        {% for usuario in usuarios %}

            <tr>
                <td>{{usuario.mail}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.apellido}}</td>
            </tr>

        {% endfor %}

    </tbody>
</table>

{% endblock %}