{% extends 'layouts/navbar.html' %}

{% block title %}
    <title>Empleados</title>
{% endblock %}

{% block content %}

<div class="header">
    <h1>Empleados</h1>
    <a href="{% url 'crear empleado' %}" class="btn btn-primary">Crear nuevo empleado</a>
</div>

<table>
    <thead>
        <tr>
            <th>Mail</th>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
    </thead>
    <tbody>

        {% for usuario in usuarios %}

            <tr>
                <td>{{usuario.mail}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.apellido}}</td>
            </tr>

        {% endfor %}

    </tbody>
</table>

{% endblock %}