{% extends 'layouts/navbar.html' %}

{% block title %}
    <title>Ofertas</title>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        // Mostrar la ventana de confirmación de eliminacion
        $(".btn-delete").click(function(event){
            event.preventDefault();
            var ofertaId = $(this).data('id');
            $("#window-confirm-delete").data('id', ofertaId).show();
        });

        // Cancelar la eliminacion
        $(".window-cancel").click(function(){
            $("#window-confirm-delete").hide();
        });

        // Confirmar eliminación
        $(".window-confirm").click(function(){
            var ofertaId = $("#window-confirm-delete").data('id');
            $("#window-confirm-delete").hide();
            $.ajax({
                url: '/eliminar_oferta/' + ofertaId + '/',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'  // Asegúrate de incluir el token CSRF
                },
                success: function(response) {
                    if (response.status === 'success') {
                        $("#success-message").show();
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function(xhr, status, error) {
                    alert('Error: ' + error);
                }
            });
            location.reload();
        });

        // Ocultar el mensaje de éxito
        $(".success-accept").click(function(){
            $("#success-message").hide();
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="header">
    <h1>Ofertas</h1>
</div>

{% if ofertas %}
    <table>
        <thead>
            <tr>
                <th>Ofertante</th>
                <th>Monto</th>
                <th>Vehículo/Embarcación ofertado</th>
                <th>Publicación</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for oferta in ofertas %}
                <tr>
                    <td>
                        <a href="{% url 'ver perfil' oferta.autor.id %}">{{oferta.autor.mail}}</a>
                    </td>
                    <td>{{ oferta.monto }}</td>
                    {% if oferta.vehiculo_ofertado %}
                        <td>
                            <a href="{% url 'ver detalle vehiculo' oferta.vehiculo_ofertado.id 0 %}">{{ oferta.vehiculo_ofertado.patente }}</a>
                        </td>
                    {% elif oferta.embarcacion_ofertada %}
                        <td>
                            <a href="{% url 'ver detalle embarcacion' oferta.embarcacion_ofertada.id 0 %}">{{ oferta.embarcacion_ofertada.matricula }}</a>
                        </td>
                    {% else %}
                        <td>No se ofreció un vehículo o embarcación</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'ver detalle publicacion' oferta.publicacion.id 0 %}">{{ oferta.publicacion.embarcacion.tipo.clase }}</a>
                    </td>
                    <td>{{ oferta.estado }}</td>
                    <td>
                        {% if oferta.estado == "Pendiente" %}
                            <button type="submit" class="btn-delete" data-id="{{ oferta.id }}">Eliminar</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3>No existen ofertas en la plataforma.</h3>
{% endif %}

<div id="window-confirm-delete" class="window" style="display: none;">
    <div class="window-content">
        <p>¿Estas seguro que desea eliminar la oferta?</p>
        <div class="window-buttons">
            <button class="window-confirm">Confirmar</button>
            <button class="window-cancel">Cancelar</button>
        </div>
    </div>
</div>

<div id="success-message" class="window" style="display: none;">
    <div class="window-content">
        <p>La oferta se ha eliminado con éxito</p>
        <div class="window-buttons">
            <button class="success-accept">Aceptar</button>
        </div>
    </div>
</div>
{% endblock %}
