{% extends 'layouts/navbar.html' %}

{% block title %}
    <title>Publicaciones</title>
{% endblock %}

{% block content %}

<div class="header">
    <h1>Publicaciones</h1>
</div>

{% if publicaciones %}
    <table>
        <thead>
            <tr>
                <th>Publicante</th>
                <th>Deuda</th>
                <th>Embarcacion</th>
                <th>Tipo de embarcacion</th>
            </tr>
        </thead>
        <tbody>
            {% for publicacion in publicaciones %}
                <tr>
                    <td>
                        <a href="{% url 'ver perfil' publicacion.autor.id %}">{{ publicacion.autor.mail }}</a>
                    </td>
                    <td>{{ publicacion.monto }}</td>
                    <td>
                        <a href="{% url 'ver detalle embarcacion' publicacion.embarcacion_id 0%}">{{ publicacion.embarcacion.matricula }}</a>
                    </td>
                    <td>
                        <a href="{% url 'ver detalle publicacion' publicacion.id 0 %}">{{ publicacion.embarcacion.tipo.clase }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3>No existen publicaciones en la plataforma.</h3>
{% endif %}
{% endblock %}
