{% extends 'layouts/stats.html' %}

{% block stats %}
    <style>
        .tercera-stat{
            text-decoration: underline;
        }
    </style>
    
    <br>

    <h3>Rango actual: {{ context.rango }}</h3>

    <form action="{% url 'trueques por sede' %}" method="post">
        {% csrf_token %}

        <label for="fechaDesde">Desde: </label>
        <input type="date" name="fechaDesde" value="{{ form.fechaDesde.value|default:context.fecha_desde|date:'Y-m-d' }}">

        <label for="fechaHasta">Hasta: </label>
        <input type="date" name="fechaHasta" value="{{ form.fechaDesde.value|default:context.fecha_hasta|date:'Y-m-d' }}">

        <button type="submit" class="btn-select-fechas">Seleccionar</button>

        {% if context.mensaje_error %}
            <div class="error">{{ context.mensaje_error }}</div>
        {% endif %}
    </form>

    <div class="row ">
        <div class="col-md-6 my-4">
            <div class="bg-white">
                <div class="card-body">
                    <canvas id="myChart1" width="400" height="300"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart1').getContext('2d');
                        var myChart1 = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: ['Tigre' , 'Quilmes (La Rivera)', 'Rio Santiago'],
                        datasets: [{
                            label: 'Proporcion de trueques en sedes',
                            data: ['{{context.trueques_tigre}}', '{{context.trueques_quilmes}}', '{{context.trueques_rio_santiago}}'],
                            backgroundColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                            ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                ],
                                    borderWidth: 1
                        }]
                            },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-4">
            <div class="bg-white">
                <div class="card-body">
                    <canvas id="myChart" width="400" height="300"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: ['Tigre' , 'Quilmes (La Rivera)', 'Rio Santiago'],
                        datasets: [{
                            label: 'Cantidad de trueques',
                            data: ['{{context.trueques_tigre}}', '{{context.trueques_quilmes}}', '{{context.trueques_rio_santiago}}'],
                            backgroundColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                            ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                ],
                                    borderWidth: 1
                        }]
                            },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}