{% extends 'layouts/navbar.html' %}

{% block title %}
    <title>Trueques</title>
{% endblock %}

{% block content %}

<div class="header">
    <h1>Trueques</h1>
</div>

{% if trueques and not request.user.id == 80 %}
    <table>
        <thead>
            <tr>
                <th>Publicante</th>
                <th>Monto</th>
                <th>Embarcacion publicada</th>
                <th>Ofertante</th>
                <th>Vehiculo/Embaracion ofertada</th>
                <th>Fecha inicio</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for trueque in trueques %}
                <tr>
                    <td>
                        {% if trueque.usuario1.mail|slice:"0:1" == "*" %}
                            {{ trueque.usuario1.mail|slice:"1:-14" }}
                        {% else %}
                            <a href="{% url 'ver perfil' trueque.usuario1_id %}">{{ trueque.usuario1.mail }}</a>
                        {% endif %}
                    </td>
                    <td>{{ trueque.monto }}</td>
                    <td>
                        {% if trueque.embarcacion1.matricula|slice:"0:1" == "*" %}
                            {{ trueque.embarcacion1.matricula|slice:"1:-14" }}
                        {% elif trueque.estado == "Pendiente" %}
                            <a href="{% url 'ver detalle embarcacion' trueque.embarcacion1_id 0 %}">{{ trueque.embarcacion1.matricula }}</a>
                        {% else %}
                            {{ trueque.embarcacion1.matricula }}
                        {% endif %}
                    </td>
                    <td>
                        {% if trueque.usuario2.mail|slice:"0:1" == "*" %}
                            {{ trueque.usuario2.mail|slice:"1:-14" }}
                        {% else %}
                            <a href="{% url 'ver perfil' trueque.usuario2_id %}">{{ trueque.usuario2.mail }}</a>
                        {% endif %}
                    </td>
                    <td>
                    {% if trueque.vehiculo_id %}
                        {% if trueque.vehiculo.patente|slice:"0:1" == "*" %}
                            {{ trueque.vehiculo.patente|slice:"1:-14" }}
                        {% elif trueque.estado == "Pendiente" %}
                            <a href="{% url 'ver detalle vehiculo' trueque.vehiculo_id 0 %}">{{ trueque.vehiculo.patente }}</a>
                        {% else %}
                            {{ trueque.vehiculo.patente }}
                        {% endif %}
                    {% elif trueque.embarcacion2_id %}
                        {% if trueque.embarcacion2.matricula|slice:"0:1" == "*" %}
                            {{ trueque.embarcacion2.matricula|slice:"1:-14" }}
                        {% elif trueque.estado == "Pendiente" %}
                            <a href="{% url 'ver detalle embarcacion' trueque.embarcacion2_id 0 %}">{{ trueque.embarcacion2.matricula }}</a>
                        {% else %}
                            {{ trueque.embarcacion2.matricula }}
                        {% endif %}
                    {% endif %}
                    </td>
                    <td>{{ trueque.fecha_inicio }}</td>
                    <td>
                        {% if trueque.estado == "Completado" %}
                            <a href="{% url 'ver detalle trueque' trueque.id %}" style="color:green">{{ trueque.estado }}</a>
                        {% elif trueque.estado == "Pendiente" %}
                            <a href="{% url 'ver detalle trueque' trueque.id %}" style="color:blue">{{ trueque.estado }}</a>
                        {% elif trueque.estado == "Cancelado" %}
                            <a href="{% url 'ver detalle trueque' trueque.id %}" style="color:red">{{ trueque.estado }}</a>
                        {% elif trueque.estado == "Anulado" %} 
                            <a href="{% url 'ver detalle trueque' trueque.id %}" style="color:red">{{ trueque.estado }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3>No existen trueques en la plataforma.</h3>
{% endif %}
{% endblock %}
