{% extends 'layouts/navbar.html' %}

{% block title %}
    <title>Usuarios</title>
{% endblock %}

{% block content %}

<div class="header">
    <h1>Usuarios</h1>
    <a href="{% url 'crear usuario' %}" class="btn btn-primary">Crear nuevo usuario</a>
</div>
{% if usuarios %}
    <table>
        <thead>
            <tr>
                <th>Mail</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}

                <tr>
                    <td>
                        <a href="{% url 'ver perfil' usuario.id %}"> {{usuario.mail}} </a>
                    </td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.apellido}}</td>
                    <td>{{usuario.edad}}</td>
                    <td>
                        {% if usuario.is_blocked %}
                            <form action="{% url 'desbloquear usuario' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="usuario_id" value="{{ usuario.id }}">
                                <button type="submit" class="btn-block">Desbloquear</button>
                            </form>
                        {% else %}
                            <form action="{% url 'bloquear usuario' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="usuario_id" value="{{ usuario.id }}">
                                <button type="submit" class="btn-block">Bloquear</button>
                            </form>
                        {% endif %}                    
                    </td>
                    <td>
                        <form method="post" action="{% url 'eliminar usuario' %}">
                            {% csrf_token %}
                            <input type="hidden" name="usuario_id" value="{{ usuario.id }}">
                            <input type="hidden" name="eliminar" value="{{ 1 }}">
                            <button type="submit" class="btn-delete">Eliminar</button>
                        </form>
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3>No existen usuarios en la plataforma.</h3>
{% endif %}

{% if context.eliminar == "1" %}
<div class="window-eliminar" id="window-eliminar">  
    <div class="eliminar-content">
        <p class="eliminar-content-text">¿Desea eliminar al usuario {{context.usuario.mail}}?</p> 
        <div class="content-buttons">
            <form action="{% url 'eliminar usuario' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="usuario_id" value="{{ context.usuario.id }}">
                <input type="hidden" name="eliminar" value="{{ 2 }}">
                <button type="submit">Confirmar</button>
            </form>
            <form action="{% url 'lista usuarios' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Cancelar</button>
            </form>
        </div>
    </div>
</div>
{% endif%}

{% endblock %}