{% extends 'layouts/navbar.html' %}

{% block content %}

<div class="header">
    <h1>Usuarios</h1>
    <a href="{% url 'crear usuario' %}" class="btn btn-primary">Crear nuevo usuario</a>
</div>

<table>
    <thead>
        <tr>
            <th>Mail</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}

            <tr>
                <td>
                    <a href="{% url 'ver perfil' usuario.id %}"> {{usuario.mail}} </a>
                </td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.apellido}}</td>
                <td>{{usuario.edad}}</td>
                <td>
                    <button class="btn-block">Bloquear</button>
                </td>
                <td>
                    <button class="btn-delete">Eliminar</button>
                </td>
            </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}