{% extends 'layouts/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/boat_detail_body.css' %}">
{% endblock %}

{% block title %}
    <title>Ver detalle embarcacion</title>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#cerrar-sesion").click(function(event){
            event.preventDefault();
            $("#mensaje-cerrar-sesion").toggle();
        });
    });
</script>
<script>
    $(document).ready(function(){
        $("#eliminar-embarcacion").click(function(event){
            event.preventDefault();
            $("#mensaje-eliminar-embarcacion").toggle();
        });
    });
</script>
{% endblock %}

{% block listnav %}
    {% if request.user.is_authenticated %}
        <li><a class="normal" href="{% url 'ver perfil' id=request.user.id %}"><i class="fa-solid fa-user"></i></a></li>
    {% endif %}
    {% if request.user.is_authenticated %}
        <li class="modal"><a id="cerrar-sesion" class="normal"  href=""><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            <div id="mensaje-cerrar-sesion" class="mensaje" style="display: none;">
                <p>Estas seguro de cerrar la sesion?</p>
                <a href="{% url 'cerrar sesion' %}" class="buton2">Confirmar</a>
            </div>
        </li>
    {% else %}
        <li><a href="{% url 'crear cuenta' %}" class="buton">Crear cuenta</a></li>
        <li><a href="{% url 'iniciar sesion' %}" class="buton">Iniciar Sesion</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<section>
    <div>
        <div class="box">
            <div class='imagenesDiv'>
            {% for imagen in imagenes %}
                {% with 'imagenes_embarcaciones/'|add:imagen.nombre_especifico as ruta_imagen %}
                <div class='p1'>
                    <img src="{% static ruta_imagen %}">
                </div>
                {% endwith %}
            {% endfor %}
            </div>
            <div>
                <p>{{embarcacion.matricula}}</p>
            </div>
            <div>
                <p>{{embarcacion.tipo.clase}}</p>
            </div>
            <div>
                <p>{{embarcacion.modelo}}</p>
            </div>
            <div>
                {% with id_embarcacion=embarcacion.id %}
                    {% if not request.user.is_superuser %}
                        <a href="{% url 'editar embarcacion' id_embarcacion %}">Editar embarcacion</a>
                    {% endif %}
                {% endwith %}
            </div>
            <div>
                <div>
                    <a id="eliminar-embarcacion" href="">Eliminar embarcacion</a>
                </div>
                <div id="mensaje-eliminar-embarcacion" style="display: none;">
                    <p>¿Estas seguro de eliminar la embarcación?</p>
                    {% with id_embarcacion=embarcacion.id %}
                        <a href="{% url 'ver detalle embarcacion' embarcacion.id 1 %}">Confirmar</a>
                    {% endwith %}
                </div>
                {% if ok == 1 %}
                    <div class="window-eliminar" id="window-eliminar">  
                        <div class="eliminar-content">
                            <p class="eliminar-content-text">La embarcacion se elimino correctamente</p> 
                            <div class="eliminar-content-button"><a href="{% url 'eliminar embarcacion' embarcacion.id %}">Aceptar</a></div>
                        </div>
                    </div>
                {% endif %} 
            </div>
        </div>
    </div>
</section>

{% endblock %}
