:root{
    --azul1: #6785b4;
    --azul2: #26a5b9;
    --azul3: #a9cecf;
    --gris: #c4c4be8c;
    --arena: #c8baa0;
  
    --green: hsl(162, 45%, 56%);
    --lead: hsl(162, 2%, 56%);
    --blue: hsl(202, 89%, 71%);
    --violet: hsl(272, 59%, 55%);
    --text-white: hsl(0, 0%, 100%);
    --text-light-gray: hsl(0, 0%, 90%);
    --body-bg-color:hsl(200, 51%, 32%);
    --glass-bg-color: hsla(0, 0%, 100%, 0.05);
    --border-color: hsla(0, 0%, 100%, 0.25);
    --blur: blur(10px);
    --button-hover-color: hsla(0, 0%, 0%, 0.3);
  }
  
  * {
    color: #fff;
  }
  
  input{
    padding: 10px 10px 3px 4px;
    width: 300px;
    border: none;
    border-bottom: solid 1px #333;
    margin: 10px;
  }
  
  
  
  .checkBox{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    margin:10px;
  }
  
  .check{
    height: 25px !important;
  }
  
  select{
    padding: 10px 10px 3px 4px;
    width: 313px;
    border: none;
    border-bottom: solid 1px #333;
    margin: 10px;
  }
  
  .input-text{
    flex-basis: 130px;
  }
  
  .btn{
    color: #000;
    max-width:330px;
    margin:10px;
  }
  
  .imagenesDiv {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    padding: 20px;
  }
  
  .p1 >img {
    max-width: 400px ;
  }
  
  .p2{
    display:flex;
  }
  
  
  .p2 > img {
    max-width: 200px;
  }
  
  form{
    display:flex;
    flex-direction: column;
    max-width:340px;
  }
  
  .box {
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Estilo para el formulario principal */
  .form-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea el contenido hacia arriba */
    height: 80vh; /* Reducir la altura para colocar el formulario más arriba */
  }
  
  /* Estilo para el contenido del formulario */
  .form-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -20%);
    border: 1px solid black;
    width: 100%;
    max-width: 450px;
    padding: 40px 20px; /* Aumentar el espacio interno */
    border-radius: 10px;
    background: #ab9e89;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agrega sombra al formulario */
  }
  
  /* Estilo para los campos de entrada del formulario */
  .input-control {
    width: 100%; /* Ocupa todo el ancho del formulario */
    height: 45px; /* Ajusta la altura de los campos de entrada */
    font-size: 16px; /* Ajusta el tamaño de fuente si es necesario */
    margin: auto;
    display: block;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--border-color);
  }
  
  /*Estilo para los placeholders*/
  .input-control::placeholder{
    color: #fff;
  }
  
  .form-content h2 {
    margin-top: 0px;
    text-align: center; /* Centra el texto */
  }
  
  /* Estilo para el botón "Cargar" */
  .form-content .btn{
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: var(--green);
    border: none;
    color: var(--text-white);
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .form-content .btn:hover::before{
    background-color: var(--button-hover-color);
  }
  
  /* Estilo para el botón "Crear cuenta" al pasar sobre él */
  .form-content .btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s ease;
  } 
  
  .window-notice {
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
  }
  
  .window-notice .content {
    background: linear-gradient(to right,#a3a397, var(--azul1));;
    border-radius: 2px; 
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
  }
  
  .window-notice .content .content-text {
    height: 45px;
    font-size: 24px;    
  }
  
  .window-notice .content .content-button a{
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    background: #7a9ea0;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
  }
  
  select.input-control  {
    color: #fff; /* Color del texto */
  }
  
  /* Estilo para las opciones del campo de selección */
  select.input-control option {
    background-color: #404040; /* Color de fondo */
    color: whitesmoke; /* Color del texto */
  }
  
  select.input-control option::placeholder{
    color: whitesmoke;
  }
  
  /* Estilo para las opciones del campo de selección al pasar sobre ellas */
  select.input-control option:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar sobre las opciones */
    color: white; /* Cambia el color del texto al pasar sobre las opciones */
  }